@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

/* Home CSS */

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7f7;
}
section {
  margin: 80px 0;
  padding: 0.2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}

.heading span {
  color: red;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid red;
  color: red;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: red;
  transition: 0.3s linear;
  z-index: -1;
}
.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 0.1rem rgba(41, 32, 32, 0.2);
  z-index: 1;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #be0d0d;
}

header .logo i {
  padding-right: 0.5rem;
  color: red;
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #666;
}
header .navbar a:hover {
  color: red;
}

/* #menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: 0.1rem solid #666;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    display: none;
  } */

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}
.home .content span {
  color: red;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  width: 90%;
  padding: 1rem;
  animation: float 3s linear infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
  padding: 1rem 0;
}
.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

/* Our Speciality */
.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1em solid rgba(1, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
  background: transparent #f7f7f7;
}

.speciality .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.speciality .box-container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
  top: 0;
}

.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}

/* Popular Section */

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}
.popular .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}
.popular .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: red;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.popular .box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

/* Gallery Section CSS */

.gallery .box-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  flex: 1 1 30rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -118%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.gallery .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.gallery .box-container .box:hover .content {
  top: 0;
}

/* Review Section */
.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 1rem solid;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  background: #333;
  margin-top: 6rem;
}
.review .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  font-size: 2rem;
  color: red;
  padding: 0.5rem 0;
}

/*Footer Section*/
.footer {
  background: #000;
  text-align: center;
  margin-bottom: 0;
}

.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .credit {
  padding: 2rem 1rem;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
}

/*Scroll-top*/
#scroll-top {
  position: sticky;
  top: 400px;
  /* right: 0; */
  padding: 3rem 3rem;
  background: red;
  color: #fff;
  border-radius: 1rem;
  transition: 1s linear;
  font-size: small;
}
